.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: flex-end;
}

.center{
	display: flex;
	justify-content: center;
	margin-left: 10px !important;
	margin-right: 10px !important;
}

.particles{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
}

